<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <title><%= title %></title>
  </head>
  <% include partials/header %>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
