<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <title><%= title %></title>
  </head>
  <% include partials/header %>
  <body>
    <% include lineGraph %>
    <% include radarGraph %>
  </body>
</html>
