<div class="graph-container-right">
  <!-- <h3>Radar Graph</h3> -->
  <div>
    <canvas id="emotionsRadarChart"></canvas>
  </div>


  <script>
  // RADAR CHART data
  var radarCtx = document.getElementById('emotionsRadarChart').getContext('2d');
  var graphData = <%- JSON.stringify(radarData) %>;
  var radarChart = new Chart(radarCtx, {
    type: 'radar',
    data: graphData
  });

  </script>
</div>
